client 

# Node
node_modules/
package-lock.json

# Jest - Arquivos de teste e cobertura
coverage/
*.log
.jest-cache/

tcc caio escrito/03_resumo.txt
tcc caio escrito/04_capitulo1_introducao.txt
tcc caio escrito/05_introducao.txt
tcc caio escrito/06_capitulo2_conceitos.txt
tcc caio escrito/07_capitulo3_metodologia.txt
tcc caio escrito/08_capitulo4_resultados.txt
tcc caio escrito/09_capitulo5_conclusao.txt
tcc caio escrito/10_bibliografia.txt
tcc caio escrito/11_diagramas_mermaid.txt
Abrao_Homualdo_Alves_Moreira_TCC.txt.bak.20250929-232004

tcc caio escrito/00_LEIA_ME.txt
caio
tcc caio escrito/12_comandos_screenshots.txt
tcc caio escrito/01_capa_e_titulos.txt
tcc caio escrito/02_folha_de_rosto.txt
tcc caio escrito/04_abstract.txt
tcc caio escrito/10_referencias.txt
Abrao_Homualdo_Alves_Moreira_TCC.txt
